@charset "UTF-8";

input[type="reset"]{
    background: grey;
}
input[type="submit"]{
    background: #ff3c5f;
}
input[type="submit"], input[type="reset"] {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
    line-height: 1;
}
h1 {
    font-size: 70px;
    background-color: #1b2538;
    color: honeydew;
    margin: 0px 0px 0px 0px;
    padding: 20px 40px;
}
h3 {
    font-size: 20px;
}
form{
    margin: 40px;
}
.button {
    color: #119696;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    line-height: 70px;
    width: 300px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid transparent;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}
.button:hover {
    border-color: #119696;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: transparent;
    outline-offset: 12px;
    text-shadow: 2px 2px 3px #000;
}
.text01{
    font-size: 35px;
    color: rgb(184, 230, 227);
    margin-left: 70px;
    margin-right: 50px;
}
.text02{
    font-size: 25px;
    color: rgb(184, 230, 227);
    margin-bottom: 26px;
    margin-left: 33px;
    margin-right: 33px;
}
div{
    margin-top: 30px;
    margin-bottom: 50px;
}
.container{
    text-align: center;
}
.back{
    background-color:rgba(1,1,1,0.8);
    padding: 17px;
}

